html{
    scroll-behavior: smooth;

}
body{
    width: auto;
    font-family: 'Roboto', sans-serif;
    /* background-color: #0A192F;   */
    /* background-color: #8F8F8F;   */
    /* background-color: white; */
    
    width: auto;
    
    
}
.holeContainer{
    width: 1200px;
    margin: 0px auto;
    /* background-color: #0A192F; */
}
.line{
    height: 2px;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}
.nav-bar{
    display: flex;
     justify-content: right;
     padding: 20px;
     
}
.nav-bar a{
    color: black;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
}
@media(min-width:400px){
    .nav-bar a{
        font-size: 17px; 
    }
}
@media(min-width:700px){
    .nav-bar a{
        font-size: 18px;
        margin-right: 50px;
    }
}
.header{
    background-position: 0 85%;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}
.header-flex-main{
    display: flex;
    width: auto;
    flex-direction: column;
    
}
.header-flex-One{
flex: 1;
text-align: center;
margin-top: 50px;
color: black;
font-size: 50px;

}
@media(min-width:700px){
    .header-flex-One{
        margin-top: 50px;
        font-size: 100px;
        
    }
}
@media(min-width:1070px){
    .header-flex-One{
        margin-right:-250px ;
    }
    
   
}
.header-flex-One h1,h2{
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    
}
.header-flex-One h1,h2{
    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;
    
}

@media(min-width:700px){
    .header-flex-One h2{
        font-size: 80px;
        margin-top: 20px;
        font-weight: 400;
        color: #fa7e1e;
    }
    .header-flex-One h1{
        font-size: 50px;
        margin-top: 20px;
        font-weight: 400;
       
    }

}
.header-flex-One h3{
    font-size: 20px;
    font-weight: 300;
    margin-top: 7px;
    
}
.header-flex-One button{
    color: black;
    background-color:#fa7e1e;
    border-color: black;
    border-radius: 20px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 200px;
    height: 35px;       
    
}
@media(min-width:700px){
    header-flex-One button{
        display: inline;
        }
}

.header-flex-One button:hover{
    cursor: pointer;
    background-color:#ba2fbf;
    
}


.header-flex-two{
    flex: 1;
    text-align: center;
    
}
.header-flex-two img{
    width: 250px;
    margin-top: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
   
}
@media(min-width:700px){
    .header-flex-two img{
        width: 300px;
        margin-top: 30px;
    }
}
/* social-inoc */

.icon {
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 30px;
 }
 .icon a{
    color: black;
 }
 .icon i{
     margin-left: 40px;
 }

.icon i:hover{
    cursor: pointer;
    color: #f1dd66;
    
}

@media(min-width:700px){
    .header{
        height: 500px;
        
    }
   
    
    .header-flex-main{
        flex-direction: row;
    }
    .header-flex-One button{
        display: inline;
        
    }

}


/* bodysection */

.body{
    background-position:bottom;
    width: auto;
    
}
 .skills-section{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    
    
} 
@media(min-width:700px){
    .skills-section{
        padding-left: 150px;
        padding-right: 150px;
        
    }
}

 .skills-section h1{
    background: linear-gradient(to top left, #28b487, #7dd56f);
    color: black;
    text-align: center;
    line-height: 35px;
    border-radius: 60px;
    font-weight: 400; 
} 


.logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.logo-img{
    text-align: center;
    width: 200px;
    height: 250px;
    border-radius: 15px;   
    background: linear-gradient(to top left, #28b487, #7dd56f);
    margin-left: 20px;
    margin-top: 10px;
}
.logo-img h1{
    margin-top: 13px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    
}
.logo-img img{
    width: 150px;
    height: 160px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px; 
    
}

/* <!-- project section  --> */
.project-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box{
    text-align: center;
    width: 222px;
    height: 300px;
    border-radius: 15px;   
    background: linear-gradient(to top left, #28b487, #7dd56f);
    margin-left: 20px;
    margin-top: 60px;
}
.project-box:hover{
    background-color: #ba2fbf;
    background: rgb(255, 255, 255,.4);
}
.project-box img{
    width: 200px;
    height: 120px;
    margin-top: 10px;
    border-radius: 11px;
    
}
.project-box h1{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-box p{
   color: rgb(71, 71, 71);
   font-size: 12px;
   font-weight: 600;
   margin-top: 5px;
}
.project-but{
    margin-bottom: 15pxpx;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #fa7e1e;
    color: black;
    width: 150px;
    border-color: black;
}
.project-but:hover{
    background: rgba(24, 13, 4, 0.4);
    
}

.line2{
    height: 2px;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    margin-top: 60px;
    margin-bottom: 60px;
   
}


/* <!-- <footer section -->  */

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    
    

}
@media(min-width:1300px){
   .footer{
    width: 1300px;
   } 
}


.footer-one{
    width: 80%;
    text-align: center;
    margin: 0px auto;   
}
.footer-one h1{
    margin-bottom: 30px;
}

.footer h1{
    font-size: 25px;
    color: black;
    text-align: left;
}
.contact-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
    
}
.contact-icon a:hover{  
    color: #f1dd66;
}

.contact-icon a{
    color: black;
    text-decoration: none;
}
.contact-icon a span{
    margin-left: 10px;
}


.footer-two{
    width: 80%;
   margin: 0px auto;
}
.footer-two h1{
    margin-top: 10px;
}
.footer-two p{
    color: black;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 40px;
}